
.img {
    height: 200px;
    width: 200px;
    transition: all 0.5s;
}

.img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
    max-height: 200px;
    opacity: 1;
}

.img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.img:hover>img {
    opacity: 1;
    transition: all 0.5s;
}






