@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked+#menu {
    display: block;
  }

  #dropdown-toggle:checked+#dropdown {
    display: block;
  }

  a,
  span {
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  a.arrow,
  span.arrow {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.5;
  }

  a.arrow .arrow_icon,
  span.arrow .arrow_icon {
    position: relative;
    margin-left: 0.5em;
  }

  body{
    background-color: #323031;
  }

  a.arrow .arrow_icon svg,
  span.arrow .arrow_icon svg {
    transition: transform 0.3s 0.02s ease;
    margin-right: 1em;
  }

  a.arrow .arrow_icon::before,
  span.arrow .arrow_icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ad8347;
    transform: translateY(-50%);
    transition: width 0.3s ease;
  }

  a.arrow:hover .arrow_icon::before,
  span.arrow:hover .arrow_icon::before {
    width: 1em;
  }

  a.arrow:hover .arrow_icon svg,
  span.arrow:hover .arrow_icon svg {
    transform: translateX(0.75em);
  }

  /* .cover {
    border-bottom-right-radius: 128px;
  } */

  .bg-blue-teal-gradient {
    background: #323031;
    background: linear-gradient(90deg, #ffc857 0%, #db3a34 100%);
  }

  .border-yellow{
    border-color: #ffc857;
  }

  .boxy{
    background-color: #db39344b;
  }


  .cyan-time{
    background-color: #177e89;
    color: #323031;
  }

  .red-time{
    background-color: #db3a34;
  }

  .dark-time{
    background-color: #323031;
  }


  .boxy:hover{
    background-color: #db3934d0;
  }

  .ball{
    background-color: #ffc857;
  }

  .yellow{
    color: #ffc857;
  }

  .dark-blue{
    background-color: #084c61;
  }